.Mega button {
    background-color: #A6ECA8;
    color: #fff;
    border-radius: 3px;
    border: none;
    font-size: 1.4rem;
    padding: 10px;
    margin: 10px;
    transition: 0.5s;
}

.Mega button:hover {
    background-color: #77DD76;
}

.Mega .bolinha {
    border-radius: 50%;
    background-color: #77DD76;
    color: #fff;
    width: 35px;
    height: 35px;
    margin: 5px;
    font-size: 1.4rem;
}

.Mega .bolinhas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}