.TabelaProdutos table {
    width: 100%;
}

.TabelaProdutos th {
    background-color: #8874d6;
    color: #fff;
}

.TabelaProdutos .Par {
    background-color: rgb(238, 237, 237);
}

.TabelaProdutos .Impar {
    background-color: #ccc;
}