.Contador input {
    font-size: 1.4rem;
    width: 60px;
}

.Contador button {
    margin: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FFF49C;
    color: #fff;
    font-size: 2rem;
    border: none;
    transition: 0.5s;
}

.Contador button:hover {
    background-color: #FFE676;
    cursor: pointer;
}